/* @import "tailwindcss";

@font-face{
  font-family:'inter-medium';
  src: url('../public/fonts/Inter_18pt-Medium.ttf')
  format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap
  
  
  
  ;
}
@font-face{
  font-family:'inter-regular';
  src: url('../public/fonts/Inter_18pt-Regular.ttf')
  format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  ;
}
@font-face{
  font-family:'inter-bold';
  src: url('../public/fonts/Inter_18pt-Bold.ttf')
  format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  ;
}

@theme {

  --font-Medium:'inter-medium';
  --font-Regular:'inter-regular';
  --font-Bold:'inter-bold';

} */